<% if flash[:my_errors]%>
<%flash[:my_errors].each do |error|%>
<p><%= error %></p>
<%end%>
<%end%>

<div class="d-flex align-content-center">
  <div class="row justify-content-center">
   <div class="card">
  <div class="card-header">
  <h1 class= "text-center" style="color: #ECDCB0">New Wholesaler</h1>
  </div>
    <div style="background-color:lavender;">
   
<%= bootstrap_form_for @wholesaler do |f|%>
<div class="card-body">
<%= f.text_field :name%>

<%= f.text_field :location%>

<%= f.text_field :occupation%>
<div>
  <%= f.fields_for  :wholesaler_products do |products_fields| %>
   <%= products_fields.collection_select :product_id, Product.all, :id, :name %>
  <% end %>
  </div>
  <div>
  <%= f.submit %>
<%end%></div>
</div>
</div>
</div>
</div>
</div>




