
<%=render "indexstyle"%>
 <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
<h1 class= "text-center text-uppercase" style="color: #333138;" >Wholesalers</h1>
<h4 class="container-index" style="font-family: 'Montserrat', sans-serif">
<% @wholesalers.each do |wholesaler|%> 
 <div class="wholesale"> 
<img src="<%= wholesaler.img_url%>">     
 <%= link_to wholesaler.name, wholesaler_path(wholesaler.id)%></div>
<%end%> </div>

<footer class="container-fluid text-center" style="background-color: #d4edda; color: #155724; font-family: 'Montserrat', sans-serif">
  <p style="font-family: 'Montserrat', sans-serif"><%= link_to '<button type="button">Create New Wholesaler</button>'.html_safe, new_wholesaler_path %></p>
 <p style="font-family: 'Montserrat', sans-serif"> <%= link_to "Logout", logout_path, method: :delete%></p>
</footer>