<h1>Welcome!</h1>

<%= form_for :session, url: login_path  do |f|%>
<%= f.label :restaurant_name%>
<%= f.text_field :name%>
<%=f.label :password%>
<%=f.password_field :password%>
<%=f.submit "Log in"%>
<%end%>

<h3>If you're new to **app name**, please sign up here:</h3>
<%=link_to "Create an account", new_restaurant_path%>