<h1>Create a profile</h1>

<%= form_for @restaurant do |f|%>
<%= f.label :restaurant_name%>
<%= f.text_field :name%><br>
<%= f.label :password%>
<%= f.password_field :password%><br>
<%= f.label :password_confirmation%>
<%= f.password_field :password_confirmation%><br>
<%= f.label :owner%>
<%= f.text_field :owner%><br>
<%= f.label :location%>
<%= f.text_field :location%><br>
<%= f.label :cuisine%>
<%= f.text_field :cuisine%><br>
<%= f.submit%>
<%end%>