<% if flash[:review_errors]%>
<% flash[:review_errors].each do |error|%>
<p><%= error %></p>
<%end%>
<%end%>


<div class="d-flex align-content-center">
  <div class="row justify-content-center">
    <div class="col-6" style="background-color:lavender;">
<%= bootstrap_form_for @review do |f|%>
 <%= f.label @current_restaurant.name%><br>
<%= f.hidden_field :restaurant_id, value: @current_restaurant.id%>
 
 <%= f.collection_select :wholesaler_id, Wholesaler.all, :id, :name%>
 

<%= f.number_field :star_rating%>


<%= f.text_field :written_review%>

<%= f.submit%>
<%end%>

<h3>Don't see your wholesaler? Create a new one and give them a review! <%=link_to "New Wholesaler", new_wholesaler_path%>
</div>
</div>
</div>


