<% if flash[:review_errors]%>
<% flash[:review_errors].each do |error|%>
<p><%= error %></p>
<%end%>
<%end%>

<%= form_for @review do |f|%>
 <%= f.label @current_restaurant.name%><br>
 <%= f.label :wholesaler_id%><br>
 <%= f.text_field :wholesaler_id%><br>
 <br>
<%= f.label :star_rating%>
<%= f.number_field :star_rating%><br>
<br>
<%= f.label :written_review%>
<%= f.text_field :written_review%><br>
<br>
<%= f.submit%>
<%end%>